*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.image-label
{
    width: 125px;
}
.remove-btn
{
    width: 150px;
    float: right;
}
span
{
    cursor: pointer;
}
textarea{
    resize:none;
    scrollbar-width: none;
}
.all
{
    height: 100vh;
    background-color: rgb(209, 207, 207);
}
textarea
{
    border: none;
}
.card-body
{
    padding: 0px !important;
    margin:0px !important;
}
img{
    padding: 0px !important;
    margin:0px !important;
}
.cards{
    padding: 0px;
    margin: 20px;
    width: 300px;
    height:300px;
    cursor:pointer;
    background-color: #f1eeee ;
    border-radius: 0px 0px 5px 5px;
}
.card-text,.card-title
{
    white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn
{
    color: aqua;
}
.cards:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card{
    display: flex;
}
.card
.card-text
{
    overflow: scroll;
    scrollbar-width: none;
}
.image-form
{
    width: 100%;
    height: 40vh;
    background-color: #f5f5f5;
    overflow:hidden;
}
.header
{
    background-color: aqua;
}
.form
{
    box-shadow: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

ReactQuill
{
    border: none;
}